@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    scroll-behavior: smooth;
}
.body-bg {
    @apply bg-neutral-900 font-sans text-neutral-100 w-full min-h-[100vh] overflow-x-hidden;
}
/* Styles pour le formulaire */
.form-style {
    @apply bg-transparent p-6 rounded shadow-lg w-full max-w-md backdrop-blur-md;
}
/* Styles pour le mode clair */
div[data-theme='light'] {
    @apply bg-neutral-200 text-neutral-900;
}

/* Styles pour le mode sombre */
div[data-theme='dark'] {
    @apply bg-neutral-900 text-neutral-100;
}

header[data-theme='dark'] {
    @apply bg-neutral-900 text-neutral-100  border-neutral-100;
}
header[data-theme='light'] {
    @apply bg-transparent text-neutral-900  border-neutral-900;
}

/* Animation de la barre de progression */
@keyframes progressBar {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

/* Applique l'animation à la barre de progression */
.animate-progress-bar {
    animation: progressBar 3s ease-in-out forwards; /* 3s pour la durée de l'animation */
}

.neon-text {
    text-shadow: 0 0 5px #ffffff, /* White glow */ 0 0 10px #ffffff, 0 0 20px #ff8c00, /* Orange glow */ 0 0 30px #ff8c00, 0 0 40px #ff8c00,
        0 0 50px #ff8c00;
    color: #ff8c00; /* Base text color */
}
